<h1>My demo app</h1>
<h2>Welcome to angular</h2>
<hr>
<!-- <app-mycomponent></app-mycomponent> -->
<!-- <app-emplist></app-emplist> -->
<nav style="background-color:aliceblue;">
<a routerLink="home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="mycomponent">My Components</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="employees">Employees</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="addmovie">Addmovie</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="movielist">Movielist</a>
</nav>
<hr>
<router-outlet></router-outlet>
